nav{
    padding: 25px;
    background-color: green;
}
.header{
    text-decoration: none;
    color: white;
}
.image{
    display: flex;
    justify-content: center;
}
h3{
    text-align: center;
}
.DropList{
    display: block;
}
